body {
  margin: 1.5em;
  font-family: 'poppins', sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/pexels-antonio-dillard-4462781.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-position-x: 30%;
}

.logo {
  color: white;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: black;
  padding: .75em 2em;
  display: block;
}

nav ul a:hover {
  background: #dddddd;
}

nav .close {
  float: right;
  margin: 1.5em .6em;
}

nav .close path {
  fill: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg {
  width: 2em;
  margin-top: -1em;
  cursor: pointer;
}

header svg path {
  fill: white;
}

h1 {
  font-size: 3em;
  margin-top: 2em;
  line-height: 3.3rem;
}

.subhead {
  font-size: 1.4rem;
}

section.hero {
  color: white;
  height: 90vh;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 11em;
}

.more-info .title {
  font-weight: bold;
  font-size: 1.25rem;
}

.more-info .desc {
  line-height: 1.5rem;
}

.open-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: 'poppins', sans-serif;
  }
}

@media only screen and (min-width: 920px) {
  nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    position: unset;
    height: auto;
    width: auto;
    background: none;
  }
  nav .close {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
    padding: .5em 1.5em;
    font-size: .9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .menu {
    display: none;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 42em;
    background-position-y: -50px;
  }
  .logo {
    color: black;
  }
  section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 20em;
  }
  .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .feature img {
    width: 25em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }
  .feature.left {
        grid-template-areas: "left right";
  }
  .feature.left img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .feature.left .content {
    text-align: left;
    width: 25em;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  .feature {
    gap: 0;
  }
  .hero-img {
    background-position-y: 40%;
  }
}
/*# sourceMappingURL=style.css.map */